<div class="row mb-4">
  <div class="col-auto">
    <% if owner.avatar %>
      <%= image_tag owner.avatar(:small).url, class: 'rounded-circle profile-avatar feed-avatar' %>
    <% else %>
      <i class="fas fa-paw no-avatar__feed profile-avatar"></i>
    <% end %>
  </div>

  <div class="col">
    <div class="card bg-dark">
      <div class="card-header d-flex flex-wrap justify-content-between align-items-center">
        <div class="d-flex flex-row align-items-center">
          <span class="text-muted">
            <%= tag.i class: icon %>
            <%= link_to owner.username, owner %>
            <%= action %>
            <%= link_to object.title, object if object.title %>
          </span>
        </div>

        <small class="text-muted">
          <%= time_since_created(activity) %>
        </small>
      </div>

      <div class="card-body p-0 p-md-2 <%= object.image ? 'text-center' : 'journal-card' %>">
        <% if object.image %>
          <%= link_to object do %>
            <%= image_tag object.image(:scaled).url, class: 'rounded-3 img-fluid' %>
          <% end %>
        <% else %>
          <div class="p-3 p-md-2 markdown-body">
            <%= markdown(object.body) if object.body %>
            <%= link_to '', object, class: 'stretched-link' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>