<% if message == @last_unread && @conversation.replies? %>
  <div class="separator new-message mb-3">
    New messages
  </div>
<% end %>

<div class="card bg-dark mb-3">
  <div class="card-header d-flex flex-wrap justify-content-between align-items-center">
    <div class="d-flex flex-row align-items-center">
      <%= link_to message.user, class: 'me-2' do %>
        <% if message.user.avatar %>
          <%= image_tag message.user.avatar(:small).url, width: 24, height: 24, class: 'rounded-circle' %>
        <% else %>
          <i class="fas fa-paw no-avatar__xsmall"></i>
        <% end %>
      <% end %>

      <small class="me-2">
        <%= link_to message.user.username, message.user %>
      </small>
    </div>

    <small class="text-muted">
      <%= time_since_created(message) %>
    </small>
  </div>

  <div class="card-body p-0 p-md-2 journal-card">
    <div class="p-3 p-md-2 markdown-body">
      <%= markdown(message.body) %>
    </div>
  </div>
</div>