<% nesting = local_assigns.fetch(:nesting, 1) %>
<% continue_thread = local_assigns[:continue_thread] %>

<%= tag.div id: dom_id(comment), data: { controller: 'replies' } do %>
  <div class="card bg-dark mb-2">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="d-flex flex-row align-items-center">
        <%= link_to comment.user, class: 'me-2' do %>
          <% if comment.user.avatar %>
            <%= image_tag comment.user.avatar(:small).url, width: 24, height: 24, class: 'rounded-circle' %>
          <% else %>
            <i class="fas fa-paw no-avatar__xsmall"></i>
          <% end %>
        <% end unless comment.deleted? %>

        <small class="me-2">
          <% if comment.deleted? %>
            <span class="text-muted">deleted</span>
          <% else %>
            <%= link_to comment.user.username, comment.user %>
          <% end %>
        </small>
      </div>

      <%= link_to url_for(comment: comment.id, anchor: dom_id(comment)), class: 'link-secondary' do %>
        <small>
          <%= time_since_created(comment) %>
        </small>
      <% end %>
    </div>

    <div class="card-body <%= 'deleted-comment' if comment.deleted? %>">
      <p class="card-text">
        <%= comment.body unless comment.deleted? %>
      </p>
    </div>

    <% if user_signed_in? && !comment.deleted? %>
      <div class="card-footer d-flex justify-content-start align-items-center">
        <%= link_to '#', data: { action: 'click->replies#toggle' }, class: 'link-secondary me-2' do %>
          <i class="fas fa-reply"></i> Reply
        <% end %>

        <% if comment.user == current_user %>
          <%= link_to [comment.commentable, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-secondary' do %>
            <i class="fas fa-trash"></i> Delete
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= render partial: 'comments/form', locals: { commentable: comment.commentable, parent_id: comment.id, class: 'd-none ms-3', target: 'replies.form' } %>

  <% if nesting >= continue_thread && comment.comments.any? %>
    <div class="mb-3">
        <%= link_to 'More replies...', url_for(comment: comment.id, anchor: dom_id(comment)), class: 'py-3' %>
    </div>
  <% elsif comment.comments.any? %>
    <div class="ms-3 ps-3 border-start border-3 border-dark">
      <%= render comment.comments.order(created_at: :desc), continue_thread: continue_thread, nesting: nesting + 1 %>
    </div>
  <% end %>
<% end %>