<div data-controller="reply">
  <div class="card bg-dark mb-2">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="d-flex flex-row align-items-center">
        <%= link_to comment.user do %>
          <%= image_tag comment.user.avatar.variant(resize_to_limit: [24, 24]), class: 'rounded-circle me-2' %>
        <% end %>

        <small class="me-2">
          <%= link_to comment.user.username, comment.user, class: 'text-decoration-none' %>
        </small>
      </div>

      <small>
        <% if comment.created_at < 7.days.ago %>
          <%= comment.created_at.strftime("#{comment.created_at.day.ordinalize} of %B, %Y") %>
        <% else %>
          <%= time_ago_in_words(comment.created_at) + ' ago' %>
        <% end %>
      </small>
    </div>

    <div class="card-body">
      <p class="card-text"><%= comment.body %></p>
    </div>

    <div class="card-footer d-flex justify-content-between mt-2 align-items-center">
      <div>
        <%= link_to '#', data: { action: 'click->reply#toggle' }, class: 'text-decoration-none' do %>
          <i class="bi-reply-fill standalone"></i>&nbsp;Reply
        <% end %>
      </div>
    </div>
  </div>

  <%= render partial: 'comments/form', locals: { commentable: comment.commentable, parent_id: comment.id, class: 'd-none ms-3', target: 'reply.form' } %>

  <div class="<%= 'ms-3 ps-3 border-start border-3 border-dark' unless comment.comments.empty? %>">
    <%= render comment.comments.order(created_at: :desc) %>
  </div>
</div>