<%= turbo_stream_from comment %>
<%= turbo_frame_tag comment do %>
  <div class="card bg-dark mt-3">
    <div class="card-body">
      <div class="card-text"><%= comment.body %></div>
    </div>

    <div class="card-footer position-relative">
      <div class="d-flex align-items-center">
        <%= link_to comment.user do %>
          <%= image_tag comment.user.avatar.variant(resize_to_limit: [32, 32]), class: 'rounded-circle me-3' %>
        <% end %>

        <div>
          <h6 class="card-title mb-0">
            <%= comment.user.username %>

            <small class="text-muted">
              &middot;
              <% if comment.created_at < 7.days.ago %>
                <%= comment.created_at.strftime("#{comment.created_at.day.ordinalize} of %B, %Y") %>
              <% else %>
                <%= time_ago_in_words(comment.created_at) + ' ago' %>
              <% end %>

              <%= link_to edit_comment_path(comment), class: 'btn btn-outline-secondary btn-sm ms-1' do %>
                <i class="bi-pencil-fill"></i>
              <% end %>

              <%= link_to comment_path(comment), class: 'btn btn-outline-danger btn-sm ms-1', method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="bi-trash2-fill"></i>
              <% end %>
            </small>
          </h6>
        </div>
      </div>
    </div>
  </div>
<% end %>