<%= form_with model: [commentable, Comment.new], html: { class: local_assigns[:class], data: { target: local_assigns[:target] } } do |form| %>
  <%= form.hidden_field :parent_id, value: local_assigns[:parent_id] %>

  <% if form.object.errors.any? %>
    <div>
      <% form.object.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </div>
  <% end %>

  <div class="form-floating">
    <%= form.text_area :body, class: 'form-control bg-dark border-dark text-white', placeholder: 'Comment', style: 'height: 6rem' %>
    <%= form.label :body, 'New Comment', class: 'text-white' %>
  </div>

  <%= form.button :submit, class: 'btn btn-primary my-3' do %>
    <i class="far fa-comment"></i> Post
  <% end %>

  <%= link_to 'Cancel', comment, class: 'btn btn-secondary mt-3' if form.object.persisted? %>
<% end %>