<h2>Email</h2>

<div class="form-floating mt-3">
  <%= form.email_field :email, autocomplete: 'email', class: 'form-control', placeholder: 'Email' %>
  <%= form.label :email, 'Email' %>
</div>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<h2 class="mt-3">Change Password</h2>

<div class="form-floating mt-3">
  <%= form.password_field :password, autocomplete: 'new-password', class: 'form-control', placeholder: 'Password' %>
  <%= form.label :password, 'Change password' %>
  <div class="form-text" id="passwordHelp">
    <% if @minimum_password_length %>
      Minimum <%= @minimum_password_length %> characters
    <% end %>
    Leave this blank if you're not intending to change
  </div>
</div>

<div class="form-floating mt-3">
  <%= form.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control', placeholder: 'Confirm password' %>
  <%= form.label :password_confirmation, 'Confirm new password' %>
</div>

<hr>
<h2 class="mt-3">Confirm</h2>

<div class="form-floating mt-3">
  <%= form.password_field :current_password, autocomplete: 'current-password', class: 'form-control', placeholder: 'Password' %>
  <%= form.label :current_password, 'Password' %>
  <div class="form-text" id="passwordHelp">Enter your current password to authenticate a password change</div>
</div>

<%= render 'devise/shared/submit_edit', form: form %>