<li class="list-group-item bg-dark d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center">
    <div class="avatar-group me-3">
      <%= link_to conversation.sender, id: 'senderAvatar' do %>
        <% if conversation.sender.avatar %>
          <%= image_tag conversation.sender.avatar(:small).url, width: 36, height: 36, class: 'rounded-circle grouped-avatar' %>
        <% else %>
          <i class="fas fa-paw no-avatar__small grouped-avatar"></i>
        <% end %>
      <% end %>

      <%= link_to conversation.recipient, id: 'recipientAvatar' do %>
        <% if conversation.recipient.avatar %>
          <%= image_tag conversation.recipient.avatar(:small).url, width: 36, height: 36, class: 'rounded-circle grouped-avatar' %>
        <% else %>
          <i class="fas fa-paw no-avatar__small grouped-avatar"></i>
        <% end %>
      <% end %>
    </div>

    <%= link_to conversation.subject, conversation %>
  </div>

  <div class="text-muted">
    <% if conversation.messages.count < 1 %>
      <i class="fas fa-reply"></i>
      <%= time_since_created(conversation.messages.last) %>
    <% else %>
      <%= time_since_created(conversation.messages.first) %>
    <% end %>
  </div>
</li>