<li class="list-group-item bg-dark d-flex flex-wrap align-items-center justify-content-between">
  <div class="d-flex align-items-center">
    <%= tag.div class: 'me-3' do %>
      <span class="badge unread-indicator__mailbox">
        <span class="visually-hidden">unread messages</span>
      </span>
    <% end if conversation.unreads_for?(current_user) %>

    <div class="avatar-group me-3 d-none d-md-block">
      <%= link_to conversation.sender, id: 'senderAvatar' do %>
        <% if conversation.sender.avatar %>
          <%= image_tag conversation.sender.avatar(:scaled).url, width: 36, height: 36, class: 'rounded-circle grouped-avatar' %>
        <% else %>
          <i class="fas fa-paw no-avatar__small grouped-avatar"></i>
        <% end %>
      <% end %>

      <%= link_to conversation.recipient, id: 'recipientAvatar' do %>
        <% if conversation.recipient.avatar %>
          <%= image_tag conversation.recipient.avatar(:scaled).url, width: 36, height: 36, class: 'rounded-circle grouped-avatar' %>
        <% else %>
          <i class="fas fa-paw no-avatar__small grouped-avatar"></i>
        <% end %>
      <% end %>
    </div>

    <%= link_to conversation.subject, conversation %>
  </div>

  <div class="text-muted">
    <%= link_to conversation.messages.last.user == current_user ? 'You' : conversation.messages.last.user.username, conversation.messages.last.user %>
    <%= tag.i class: conversation.replies? ? 'fas fa-reply mx-1' : 'fas fa-envelope mx-1' %>
    <%= time_since_created(conversation.messages.last) %>
  </div>
</li>