<div class="card bg-dark text-center">
  <div class="card-body row justify-content-center align-items-center">
    <!-- Avatar -->
    <div class="col-4 col-md-12">
      <% if @user.avatar %>
        <%= image_tag @user.avatar(:small).url, class: 'rounded-circle profile-avatar w-100' %>
      <% else %>
        <i class="fas fa-paw no-avatar__user-card profile-avatar card-img-top"></i>
      <% end %>
    </div>
    <!-- End avatar -->

    <!-- Username & details -->
    <div class="col-8 col-sm-6 col-md-12">
      <h4 class="card-title mt-2"><%= @user.username %></h4>

      <h6 class="card-subtitle text-muted <%= 'mb-2' if @user.pronouns? || @user.location? || @user == current_user %>">
        <% if @user.pronouns? || @user.location? %>
          <% if @user.location? %><i class="fas fa-map-marker-alt me-2"></i><%= @user.location %><% end %>
          <% if @user.location? && @user.pronouns? %>
            <br class="d-lg-none">
            <span class="d-none d-lg-inline">&middot;</span>
          <% end %>
          <%= @user.pronouns if @user.pronouns %>
          <br>
        <% end %>

        <small class="text-muted">
          <i class="fas fa-calendar-day me-2"></i>Joined <%= @user.created_at.strftime('%B %Y') %>
        </small>
      </h6>

      <% if @user.bio.blank? %>
        <% if @user == current_user %>
          <p class="card-text text-muted">Your bio is empty... Maybe tell everyone a little about yourself?</p>
        <% end %>
      <% else %>
        <p class="card-text"><%= @user.bio %></p>
      <% end %>

      <%= link_to '#', class: 'btn btn-outline-primary rounded-pill', data: { 'bs-toggle': 'modal', 'bs-target': '#editProfileModal' } do %>
        <i class="fas fa-edit me-2"></i>Edit Profile
      <% end if user_signed_in? && @user == current_user %>
    </div>
    <!-- End details -->
  </div>

  <!-- Button to edit bio if this is current_user's profile -->
  <%# Include Edit Profile modal if user can edit this profile %>
  <div class="card-footer">
    <h6 class="mb-1">
      <%= link_to followers_user_path, class: 'link-secondary' do %>
        <i class="fas fa-user-friends me-2"></i><%= pluralize(@user.followers.size, 'follower') %>
      <% end %>

      <% if user_signed_in? %>
        <% if @user.following?(current_user) && !current_user.following?(@user) %>
          <span class="badge bg-follows-you"><i class="fas fa-long-arrow-alt-right me-1"></i>Follows you</span>
        <% elsif @user.following?(current_user) && current_user.following?(@user) %>
          <span class="badge bg-mutuals"><i class="fas fa-exchange-alt me-1"></i>Mutual</span>
        <% end %>
      <% end %>
    </h6>

    <% if user_signed_in? %>
      <% unless @user == current_user %>
        <%= link_to follow_user_path, method: :put, class: "m-1 mt-2 btn btn-outline-#{current_user.following?(@user) ? 'secondary' : 'primary'} rounded-pill" do %>
          <i class="far fa-eye"></i>&nbsp;<%= current_user.following?(@user) ? 'Unfollow' : 'Follow' %>
        <% end %>

        <%= link_to new_message_path(recipient: @user.username), class: 'm-1 mt-2 btn btn-outline-primary rounded-pill' do %>
          <i class="fas fa-paper-plane me-2"></i>Message
        <% end %>
      <% end %>
    <% end %>
  </div>
  <!-- End button -->
</div>