<% if post.image.attached? %>
  <%= link_to post, class: 'm-1 flex-grow-1 gallery-link shadow' do %>
    <%= image_tag post.image.variant(resize_to_limit: [512, 512]), class: 'rounded-3 gallery-image' %>
  <% end %>
<% end %>

<% unless post.image.attached? || post.body.empty? %>
  <div class="card bg-dark rounded-3 m-1 border-0 journal-card">
    <div class="card-body text-fade overflow-hidden markdown-body">
      <h2 class="card-title text-muted float-end ms-3">
        <i class="far fa-file-alt"></i>
      </h2>

      <%= tag.h5 post.title, class: 'rounded-bold' unless post.title.blank? %>

      <%= tag.div class: post.title.blank? ? 'card-text' : 'card-text text-secondary' do %>
        <%= markdown(post.body) %>
      <% end %>

      <%= link_to '', post, class: 'stretched-link' %>
    </div>
  </div>
<% end %>