<div class="card bg-dark">
  <div class="card-header position-relative">
    <div class="d-flex align-items-center">
      <% if @post.user.avatar %>
        <%= link_to @post.user, class: 'stretched-link' do %>
          <%= image_tag @post.user.avatar(:scaled).url, width: 48, height: 48, class: 'rounded-circle me-3' %>
        <% end %>
      <% else %>
        <%= link_to @post.user, class: 'stretched-link' do %>
          <i class="fas fa-paw no-avatar__small me-3"></i>
        <% end %>
      <% end %>

      <div>
        <h6 class="card-title"><%= @post.user.username %></h6>

        <h6 class="card-subtitle text-muted">
          <%= time_since_created(@post, long: true) %>
        </h6>
      </div>
    </div>
  </div>

  <% unless @post.body.empty? %>
    <div class="card-body markdown-body" id="markdown-area">
      <%= markdown(@post.body) %>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <div class="card-footer">
      <%= link_to like_post_path(@post, current_user.liked?(@post) ? 'unlike' : 'like'), method: :put, class: current_user.liked?(@post) ? 'me-2' : 'link-secondary me-2' do %>
        <i class="fas fa-heart"></i> <%= @post.get_likes.empty? ? 'Like' : @post.get_likes.size %>
      <% end if can? :like, @post %>

      <%= link_to edit_post_path(@post), class: 'link-secondary me-2' do %>
        <i class="fas fa-edit"></i> Edit
      <% end if can? :update, @post %>

      <%= link_to post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-secondary' do %>
        <i class="fas fa-trash"></i> Delete
      <% end if can? :destroy, @post %>
    </div>
  <% else %>
    <div class="card-footer text-secondary">
      <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="right" title="Must be signed in to like">
        <i class="fas fa-heart"></i> <%= @post.get_likes.size %>
      </span>
    </div>
  <% end %>
</div>