<div class="card bg-dark">
  <div class="card-body">
    <% if post.images.attached? %>
      <% post.images.each do |image| %>
        <%= image_tag image.variant(resize_to_limit: [500, 500]) %>
      <% end %>
    <% end %>
    <%= post.body %>
  </div>

  <div class="card-footer text-muted">
    Posted <%= time_ago_in_words post.created_at %> ago &middot; Post ID: <%= post.id %> &middot; <%= link_to 'View', post %>
  </div>
</div>