<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Brand text -->
    <%= link_to user_signed_in? ? user_root_path : welcome_root_path, class: 'navbar-brand d-flex align-items-center' do %>
      anthro <span class="badge bg-primary ms-1">works</span>
    <% end %>

    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pt-2 pt-lg-0" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item d-grid gap-2 mb-2 mb-lg-0">
            <%= link_to user_signed_in? ? user_root_path : welcome_root_path, class: 'btn btn-outline-primary rounded-pill' do %>
              <i class="fas fa-home me-1 me-lg-0"></i>
              <span class="d-lg-none">Home</span>
            <% end %>
          </li>
      </ul>
      <ul class="navbar-nav me-lg-2 ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item d-grid gap-2 me-lg-2 mb-2 mb-lg-0">
            <%= link_to new_post_path, class: 'btn btn-outline-primary rounded-pill' do %>
              <i class="fas fa-plus me-1 me-lg-0"></i>
              <span class="d-lg-none">New Post</span>
            <% end %>
          </li>

          <li class="nav-item d-grid gap-2 me-lg-2 mb-2 mb-lg-0">
            <%= link_to conversations_path, class: 'btn btn-outline-primary rounded-pill position-relative' do %>
              <i class="far fa-envelope me-1 me-lg-0"></i>
              <span class="d-lg-none">Mailbox</span>
              <% if current_user.unread_messages? %>
                <span class="position-absolute badge unread-indicator">
                  <span class="visually-hidden">unread messages</span>
                </span>
              <% end %>
            <% end %>
          </li>

          <li class="nav-item d-grid gap-2 mb-2 mb-lg-0">
            <%= link_to user_path(current_user), class: 'btn btn-outline-primary rounded-pill' do %>
              <i class="far fa-user me-1 me-lg-0"></i>
              <span class="d-lg-none">Profile</span>
            <% end %>
          </li>
        <% end %>
      </ul>

      <%= render 'layouts/user_nav' %>
    </div>
  </div>
</nav>
<!-- End navbar -->