<ul class="navbar-nav">
  <li class="navbar-item dropdown d-grid gap-2">
    <a class="dropdown-toggle <%= 'p-0 pe-2 user-dropdown' if user_signed_in? %> btn btn-outline-primary rounded-pill" id="navbarUserDropdownLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <% if user_signed_in? %>
        <% if current_user.avatar %>
          <%= image_tag current_user.avatar(:scaled).url, height: 38, class: 'rounded-circle me-1 me-lg-0' %>
        <% else %>
          <i class="fas fa-paw no-avatar__small me-1 me-lg-0"></i>
          <span class="d-lg-none"><%= current_user.username %></span>
        <% end %>
      <% else %>
        <i class="fas fa-sign-in-alt"></i>
      <% end %>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarUserDropdownLink">
      <% if user_signed_in? %>
        <li>
          <h6 class="dropdown-header">Hi, <%= current_user.username %>!</h6>
        </li>

        <li>
          <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
            <i class="fas fa-cog"></i>
            &nbsp;Settings
          <% end %>
        </li>

        <li><hr class="dropdown-divider"></li>

        <li>
          <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
            <i class="fas fa-sign-out-alt"></i>
            &nbsp;Sign out
          <% end %>
        </li>
      <% else %>
        <li><%= link_to 'Sign in', new_user_session_path, class: 'dropdown-item' %></li>
        <li><%= link_to 'Create account', new_user_registration_path, class: 'dropdown-item' %></li>
      <% end %>
    </ul>
  </li>
</ul>