<% content_for :content do %>
  <div class="row">
    <!-- User card (username, bio, details) -->
    <div class="col-12 col-md-5 col-lg-4 col-xl-3 mb-2">
      <%= render 'user_card' %>
    </div>
    <!-- End user card -->

    <!-- Profile content -->
    <div class="col-12 col-md-7 col-lg-8 col-xl-9">
      <div class="dropdown text-center text-lg-start">
        <a href="#" class="dropdown-toggle dropdown-h1 link-light" id="headerNavDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <h1 class="d-inline"><%= @header %></h1>
        </a>

        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="headerNavDropdown">
          <li><%= link_to 'Wall', user_path(@user), class: "dropdown-item #{nav_active(user_path(@user))}" %></li>
          <li><%= link_to 'Liked Posts', likes_user_path(@user), class: "dropdown-item #{nav_active(likes_user_path(@user))}" %></li>
        </ul>
      </div>

      <%= yield %>
    </div>
    <!-- End profile content -->

    <%# Include Edit Profile modal if user can edit this profile %>
    <%= render 'edit_profile_modal' if @user == current_user %>
  </div>
<% end %>

<%= render template: 'layouts/application' %>